# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.spec

# Environments
.venv/
venv/
.env

# Tools / caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project artifacts
logs/
checkpoints/
